---
// import DefaultLayout from '../../layouts/DefaultLayout.astro'
import MarkdownLayout from '../../layouts/MarkdownLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import mdx from '@astrojs/mdx';


const markdownContent = `
This is some **Markdown content**.
`;

export async function getStaticPaths() {
  try {
    const response = await fetch('https://api.cosmicjs.com/v3/buckets/morphlingxyz-production/objects?pretty=true&query=%7B%22type%22:%22posts%22%7D&limit=10&read_key=QWDolQLpWLihjx8LFSkiEqvtSn1bMNM7OLtfnTSawJzgiXsYMz&depth=1&props=slug,title,metadata,content');
    const data = await response.json();

    if (Array.isArray(data.objects) && data.objects.length > 0) {
      const paths = data.objects.flatMap((item) => {
        console.log('item',item);
        const slug = item.slug.toLowerCase();
        const title = item.title;
        const body = item.metadata.content;
        console.log('title',title);

        return { params: { post: slug },props: {title, body} };

      });

      console.log(paths);
      return paths;
    } else {
      console.error("Invalid data format:", data);
      return [];
    }
  } catch (error) {
    console.error("\nError fetching or processing data:", error);
    return [];
  }
}

// make posts show up under blog/slug

const  {post} = Astro.params;
const  {title,body} = Astro.props;

console.log(post,title,body,Astro.params);

---

<MarkdownLayout title={title} description={body} url={title}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/blog" label="Blog" />
        <BreadcrumbsItem currentPage={true} label={title} />
      </Breadcrumbs>
    </div>
  </div>
  <section class="my-12">
    <div class="container">
      <h1>{title}</h1><br />
      <p>By morphling ✨</p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <p class="text-2xl">
        <mdx>
          {body}
        </mdx>
    </div>
  </section>
</MarkdownLayout>


<!-- ---
layout: ../layouts/MarkdownLayout.astro
title: Markdown Page
---

# Markdown Page

Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam repellat deleniti obcaecati facilis non, praesentium aperiam laudantium excepturi assumenda doloremque animi quis aliquam eligendi quia nemo asperiores et eaque, sunt voluptatibus, saepe exercitationem id. Quis sequi maxime fugiat nam reprehenderit nesciunt quaerat obcaecati, ipsa dignissimos voluptatum voluptatem, optio quidem quos repudiandae dolorem voluptatibus fuga officia odio nemo recusandae voluptas. -->



<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
